<h1 class="text-xl font-semibold text-gray-700 mt-3">Home section #1</h1>
<div class="divider">
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-4 gap-x-4">
    <app-product-card *ngFor="let item of items" [product]="item"></app-product-card>
</div>

<h1 class="text-xl font-semibold text-gray-700 mt-3">Home section #2</h1>
<div class="divider">
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4">
    <app-product-card *ngFor="let item of items" [product]="item"></app-product-card>
</div>